/*homepage title image*/
#poster{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
#poster img.poster-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container */
    object-position: center; /* Ensures the center of the image is always visible */
}

#title-logo-png{
    width: 70%;
}
@media (max-width: 992px) {
    #title-logo-png{
        width: 80%;
    }
}
@media (max-width: 768px) {
    #title-logo-png{
        width: 90%;
    }
}


/* text field within the poster image*/
.poster-caption {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light-green-transparent);
    height: 30%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* split title  */
.responsive-br {
    display: none; /* Hide line break on larger screens */
}

.featurette-divider {
  margin: 5rem; /* Space out the Bootstrap <hr> more */
}


/* larger marketing sections */
.featurette-heading {
    font-size: 4rem;
    font-family: "Bebas Neue", sans-serif;
}

.text-body-secondary-custom {
    color: var(--army-green); /* Sets the text color */
}
.lead{
     padding-top: 1rem;
     font-size: 2rem;
     font-family: "Raleway", sans-serif;
     margin-bottom: 2rem;
     margin-top: 2rem;
}

.btn-home-capital{
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
}

@media (max-width: 991px) {
  .lead{
     font-size: 1.5rem;
     margin-bottom: 1rem;
     margin-top: 1rem;
    }
}


@media (max-width: 767px) {
    /*homepage title text splits for smaller screens*/
    .responsive-br {
        display: inline;
    }
    .img-fluid{
        height: auto;
        width: 100%;
        object-fit: cover;
    }
    .lead{
     padding-top: 0;
    }
}

@media (max-width: 630px){
     /*home page title text field is wider for smaller screens*/
    .poster-caption{
        width: 98%;
    }
    .poster-caption h1 {
    font-weight: bold;
}
 }
@media (max-width: 576px) {
  .featurette-divider {
  margin: 2rem; /* Space out the Bootstrap <hr> more */
  }
}
@media (max-width: 400px) {
    .img-fluid{
        height: 100%;
        width: auto;
        object-fit: cover;
    }
}