{% extends "base.html" %}

{% block extra_styles %}
<!-- Custom CSS -->
<link href="{{ url_for('static', filename='css/contacts_styles.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
{% import 'macros.html' as macros %}
<div class="container">
    {% set contacts = translations.contacts %}
    <h1 class="heading mt-0 text-center">{{ contacts.title }}</h1>
    <hr class="mb-0">
    <!--    location details-->
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-6 d-flex flex-column">
                <h2 class="contact-heading">{{ contacts.connections }}</h2>
                {% set location = contacts.location %}
                <ul class="location_details flex-grow-1">
                    <li class="location_detail">{{ location.address }}</li>
                    <li class="location_detail">{{ location.tram_stop.name }} - {{ location.tram_stop.distance }}
                    </li>
                    <li class="location_detail">
                        {{ location.metro.name }}
                        <img src="{{ url_for('static', filename='assets/logos/metro-a.svg') }}" alt="metro A"
                             class="icon">
                        - {{ location.metro.distance }}
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center d-none d-md-block">
                <!-- Buttons to display map or open in a new window -->
                <div id="map-button-container" class="d-flex flex-column text-center large-contact-content ">
                    <button id="display-map-button" class="btn btn-outline-green mb-5">
                            <span class="d-block">
                                {{ location.map_frame_button_text }}
                                <i class="bi bi-geo-alt-fill normal-icon"></i></span>
                        <span class="d-block cookie-text">({{ location.cookie_disclaimer }})</span>
                    </button>
                    <a href="https://mapy.cz/s/pabebobura" target="_blank" id="open-new-window-button"
                       class="btn btn-outline-green mt-2">
                            <span class="d-block map-button-text">
                               {{ location.map_button_text }} <i class="bi bi-box-arrow-up-right normal-icon"></i>
                            </span>
                    </a>
                </div>

                <!-- Placeholder for iframe, initially empty -->
                <div id="iframe-container" class="large-contact-content flex-grow-1 d-none"></div>
            </div>

            <!-- Display button for small screens -->
            <div class="d-block d-md-none text-center mt-3">
                <a href="https://mapy.cz/s/pabebobura" target="_blank" class="btn btn-outline-green"
                   aria-label="Mapy.cz">
                    <i class="bi bi-geo-alt-fill normal-icon"></i> {{ location.map_button_text }}
                </a>
            </div>
        </div>
    </div>

    <hr>
    <!--opening hours-->
    <div class="container mt-5">
        <div class="row d-flex align-items-stretch">
            <div class="col-12 col-md-6">
                {{ macros.render_picture(
                base_path='img',
                base_filename='entrance',
                alt_text=translations.contacts.entrance_image.alt_text,
                classes=['large-contact-content', 'img-fluid']
                ) }}
            </div>
            <div class="col-12 col-md-6 d-flex flex-column justify-content-between">
                <h2 class="contact-heading">{{ contacts.opening_hours.heading }}</h2>
                <div class="opening-hours-content flex-grow-1">
                    {% include "opening_hours.html" %}
                </div>
            </div>
        </div>
    </div>

    <hr>
    <!--contacts-->
    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col-12 col-md-6 text-center mb-2">
                <h2 class="contact-heading"> Chat </h2>
                <a href="https://ig.me/m/club_garageprague" class="btn btn-outline-green"
                   target="_blank"
                   aria-label="instagram chat">
                    <i class="bi bi-chat-dots-fill normal-icon"></i> Instagram
                </a>
            </div>
            <div class="col-12 col-md-6 text-center">
                <h2 class="contact-heading"> Email </h2>
                <a href="mailto:clubgarageprag@gmail.com" class="btn btn-outline-green">
                    <i class="bi bi-envelope-at-fill"></i> clubgarageprag@gmail.com
                </a>

            </div>
        </div>
    </div>

    <hr>
    <!--additional info-->
    <div class="row justify-content-center align-items-center mt-5">
        <div class="col-md-12 col-lg-8 col-xl-6 text-center">
            <h2 class="contact-heading">{{ contacts.additional_info.heading }}</h2>
            <div class="card">
                <div class="card-header"></div>
                <div class="card-body pt-1">
                    <div class="d-flex flex-column justify-content-center align-items-center">

                        <i class="bi bi-person-check-fill normal-icon mb-1"></i>
                        <table class="table table-bordered mb-2">
                            <tbody>
                            <tr>
                                <td class="address text-center">{{ contacts.ageRestriction }}</td>
                            </tr>
                            </tbody>
                        </table>

                        <i class="bi bi-cash-coin normal-icon mb-1"></i>
                        <table class="table table-bordered mb-2">
                            <tbody>
                            {% for payment in contacts.payments %}
                            <tr>
                                <td class="address text-center">{{ payment }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <i class="bi bi-duffle-fill mb-1 normal-icon"></i>
                        <table class="table table-bordered mb-2">
                            <tbody>
                            <tr>
                                <td class="address text-center">{{ contacts.cloakroom }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3" id="disclaimer">
    <hr class="mt-5">
    <div class="d-flex justify-content-center">
        <table class="mt-0 mb-0 text-center">
            <tr>
                <td>{{ contacts.manager }}:</td>
                <td>Oldřich Smetana</td>
            </tr>
            <tr>
                <td>{{ contacts.operator }}:</td>
                <td>HAPES s.r.o.</td>
            </tr>
            <tr>
                <td>{{ contacts.address }}:</td>
                <td>Nitranská 1057/4, 101 00 Praha 10</td>
            </tr>
            <tr>
                <td>IČO:</td>
                <td>26732351</td>
            </tr>
            <tr>
                <td>DIČ:</td>
                <td>CZ26732351</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/script_contacts.js') }}"></script>
{% endblock %}