{% extends "base.html" %}

{% block extra_styles %}
<!-- Custom CSS -->
<link href="{{ url_for('static', filename='css/index_styles.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- Poster Image -->
<div id="poster" class="mb-5">
    {% set poster = translations.home.poster %}
    <h1 class="visually-hidden">{{ poster.title }}</h1> <!-- Hidden h1 for SEO and accessibility -->
    <img src="{{ url_for('static', filename='assets/img/poster.avif') }}" class="d-block w-100 poster-img"
         alt="{{ poster.altText }}">
    <div class="poster-caption">
        <img id="title-logo-png" src="{{ url_for('static', filename='assets/logos/garage_poster_logo.png') }}">
    </div>
</div>

<div class="container marketing pt-3">
    <!-- Featurette Section -->
    <hr>
    {% for featurette in translations.home.featurettes %}
    <div class="row">
        <h2 class="featurette-heading fw-normal lh-1">
            {{ featurette.heading[0] }}
            <span class="text-body-secondary-custom">{{ featurette.heading[1] }}</span>
        </h2>
        <div class="col-10 col-md-5">
            {% for description in featurette.description %}
            <p class="lead">
                {{ description }}
            </p>
            {% endfor %}
        </div>
        <div class="col-12 col-md-7">
            <img src="{{ url_for('static', filename=featurette.image.src) }}" alt="{{ featurette.image.altText }}"
                 class="img-fluid mx-auto">
        </div>

    </div>
    <hr class="featurette-divider">
    {% endfor %}

    <!-- buttons -->
    <div class="row mb-3">
        <div class="col-4 d-flex text-center justify-content-center">
            <a class="btn btn-primary-yellow btn-home-capital" href="{{ url_for('events', lang=lang) }}">{{ translations.events.title }}</a>
        </div>
        <div class="col-4 d-flex text-center justify-content-center">
            <a class="btn btn-primary-yellow btn-home-capital" href="{{ url_for('drink_menu', lang=lang) }}">{{ translations.drink_menu.title }}</a>
        </div>
        <div class="col-4 d-flex text-center justify-content-center">
            <a class="btn btn-primary-yellow btn-home-capital" href="{{ url_for('contacts', lang=lang) }}">{{ translations.contacts.title }}</a>
        </div>
    </div>

   <hr class="featurette-divider">

    <!-- contacts Section -->
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12 col-lg-8 col-xl-6">
                <div class="card">
                    <div class="card-header"></div>
                    <div class="card-body pt-1">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-clock mb-1 normal-icon"></i>
                            {% include "opening_hours.html" %}

                            <i class="bi bi-pin-map mb-1 normal-icon"></i>
                            <table class="table table-bordered mb-2">
                                <tbody>
                                <tr>
                                    <td class="address text-center">{{ translations.contacts.location.address }}</td>
                                </tr>
                                </tbody>
                            </table>

                            <i class="bi bi-person-check-fill mb-1 normal-icon"></i>
                            <table class="table table-bordered mb-2">
                                <tbody>
                                <tr>
                                    <td class="address text-center">{{ translations.contacts.ageRestriction }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/script_home.js') }}"></script>
{% endblock %}
